{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Keynote</title>
        <link href="{% static 'player/' %}KeynoteDHTMLPlayer.css" rel="stylesheet" type="text/css" media="screen"/>
        <meta name="viewport" content="initial-scale = 1.0, minimum-scale = 1.0, maximum-scale = 1.0, user-scalable = no, width = device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="{% static 'player/' %}prototype.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}DebuggingSupport.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}string.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}Utilities.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}KeynoteDHTMLPlayer.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}ShowController.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}TouchController.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}DisplayManager.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}StageManager.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}AnimationManager.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}TextureManager.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}ScriptManager.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}OrientationController.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}KPFObjects.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}SlideManager.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}NavigatorController.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}SlideNumberController.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}HelpPlacardController.js"></script>
        <script type="text/javascript" src="{% static 'player/' %}NarrationManager.js"></script>
	</head>
    <body id="body" bgcolor="black">
        <div id="background" class="bigBlackSquare">
        </div>
        <div id="previousButton" class="PreviousButtonDisabled">
        </div>
        <div id="nextButton" class="nextButtonDisabled">
        </div>
        <div id="slideCounter">
        </div>
        <span id="helpText"></span>
        <div id="stageArea">
            <div id="stage" class="stage">
            </div>
            <div id="hyperlinkPlane" class="stage">
            </div>
        </div>
        <div id="slideshowNavigator">
        </div>
        <div id="slideNumberControl">
        </div>
        <div id="slideNumberDisplay">
        </div>
        <div id="helpPlacard">
        </div>
        <div id="waitingIndicator">
        	<div id="waitingSpinner">
        	</div>
        </div>
	</body>
</html>